@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    font-family: "Tiny5", sans-serif;
}

.container-border-image{
    background-image: url(imgs/border.png);
    width: 574px;
    height: 582px;
    margin: 0 auto;
    padding: 47px 37px 35px 46px;
    background-repeat: round;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 74px auto;
    width: 53vmin;
    height: 51vmin;   
    background-color: #fae1fb;
}

.result-container{
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: -webkit-fill-available;
    font-size: 28px;
    padding: 0 20px 30px 0;
    gap: 5px;
}

.current-result{
    display: flex;
}

.second-num{
    margin-left: 5px;
}

.past-result{
    color: #00000082;
}

.buttons-container{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 12px 10px;
    gap: 5px;
    align-items: flex-end;
    background-color: #d2bfd3;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
}

.btn{
    width: 76px;
    height: 78px;
    flex-grow: 1;
    cursor: pointer;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 2px 3px #77137b;
    font-family: "Tiny5", sans-serif;
}